/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

html {
 background: rgba(211, 212, 157, 0.8);
}

#thought-div {
  position: absolute;
  right: 0;
  left: 0;
  height: 550px;
  margin-right: auto;
  margin-left: auto;
  background: rgba(211, 212, 157, 0.8);
  padding: 5em;
}

#progress-bar {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 0%;
  height: 10px;
  background-color: #f7de63;
}

#loading-text {
  position: absolute;
  left: 0px;
  bottom: 15px;
}

/* https://stackoverflow.com/questions/69430/is-there-a-way-to-make-text-unselectable-on-an-html-page */
.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}
